<launch>
  <!-- Create fake robot publisher -->
  <node name="fake_robot_publisher" pkg="cassie_planning" type="fake_robot_publisher" output="screen">
    <rosparam file="$(find cassie_planning)/config/fake_robot.yaml" command="load" />
    <rosparam file="$(find cassie_planning)/config/robot_params.yaml" command="load" />
  </node>

</launch>


